body {

    /* font-family: 'Barlow';font-size: 22px; */
    
    background-image: url("trippygif.gif");
     
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: rgb(42, 42, 42);*/
    
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;

    
}

h1 {
    letter-spacing: 30px;
    color: rgb(100, 100, 100);
    margin-left: 37%;
    margin-right: 50%;
}

.dbutton {
    background-color: rgba(97, 97, 97, 0.76);
    border: 2px solid rgb(131, 131, 131);
    border-radius: 2px;
    text-align: center;
    /* width: 40%; */
    margin-left: 50%;
    margin-right: 50%;
    padding: 14px 40px;
}

.separador {
    margin-top:10%
}

/* .navbar-header {
    background-image: url("trippygif.gif");
} */
